<div class="md-toolbar-tools padding-15">
	<span>Chi tiết yêu cầu</span>
	<span flex></span>
</div>
<md-button target="_blank" ng-disabled="true"class="md-icon-button">
	<md-icon md-svg-icon="images/home.svg" ng-click="vm.goHome()"></md-icon>
</md-button>
<div layout-align="center center" layout = "row">
	<span class="error">{{vm.message}}</span>
</div>
<br>
<div layout="row">
	<div flex="45" class="padding-15" layout="column">
		 
			<span>Mã yêu cầu</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.mayc" > 
			</md-input-container> 
		
			<span>Ngày đặt yêu cầu</span>
			<md-input-container>
				<input mdc-datetime-picker="" time="false" date="true" type="text" 
				format="DD/MM/YYYY" ng-model="vm.yc.ngaydatyeucau" >
			</md-input-container>
					
			<span>Họ tên khách hàng</span>
			<md-input-container>
				<input type="text" ng-model="vm.yc.hotenKH" > 
			</md-input-container> 
		
			<span>Số điện thoại</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.sodt" > 
			</md-input-container>
		<!--
			<span>CMND khách hàng</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.cmndKH" > 
			</md-input-container> 
		-->
			<span>Email khách hàng</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.email" > 
			</md-input-container>
		
			<span>Địa chỉ khách hàng</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.diachi" > 
			</md-input-container>
		
			<span>Dịch vụ yêu cầu</span> 
			<md-input-container>
				<md-select ng-model="vm.yc.dichvuyc" multiple >
					<md-optgroup>
						<md-option ng-value="dv.tenDichVu" ng-repeat="dv in vm.dsdv">{{dv.tenDichVu}}</md-option>
					</md-optgroup>
				</md-select>
			</md-input-container>
			<br>
		
			<span>Quận</span> 
			<md-input-container>
				<md-select ng-model="vm.yc.quan" >
					<md-option ng-value="q.tenquan" ng-repeat="q in vm.quans">{{q.tenquan}}</md-option>
				</md-select>
				<!--<input type="text" ng-model="vm.yc.quan" > -->
			</md-input-container>
			<br>
				
			<span>Mô tả</span> 
			<md-input-container>
				<textarea ng-model="vm.yc.mota" md-maxlength="300" ></textarea>
			</md-input-container>
		
	</div>
	<div flex="10"></div>
	<div flex="45" class="padding-15" layout="column">
			<span>Ngày thực hiện</span>
			<md-input-container>
				<input mdc-datetime-picker time="false" date="true" type="text" 
				format="DD/MM/YYYY" ng-model="vm.yc.ngaylam" >
			</md-input-container>
			<div  layout-align="space-between center" layout = "row">
				<div layout="column" flex="45">
					<span>Thời gian bắt đầu</span>
					<md-input-container >
						<input mdc-datetime-picker time="true" date="false" type="text" 
						format="HH:mm" ng-model="vm.yc.giobatdau" >
					</md-input-container>
				</div>
				<div layout="column" flex="45">
					<span>Thời gian kết thúc</span>
					<md-input-container >
						<input mdc-datetime-picker time="true" date="false" type="text" 
						format="HH:mm" ng-model="vm.yc.gioketthuc" >
					</md-input-container>
				<!--<md-content flex="45">
					<md-datepicker ng-model="vm.gioketthuc" ></md-datepicker>
				</md-content>-->
				</div>
			</div>
		
			<span>Họ tên thợ</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.hotenTho" > 
			</md-input-container>
			
			<span>CMND thợ</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.cmndTho" > 
			</md-input-container>
		
			<span>Số điện thoại thợ</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.sdtTho" > 
			</md-input-container> 
		
			<span>Trạng thái</span> 
			<md-input-container>
				<md-select ng-model="vm.yc.trangthai" >
					<md-option ng-value="tt" ng-repeat="tt in vm.trangthai">{{tt}}</md-option>
				</md-select>
				<!--<input type="text" ng-model="vm.yc.trangthai" > -->
			</md-input-container> 
			<br>
		
			<span>Phí dịch vụ</span> 
			<md-input-container>
				<input type="text" ng-model="vm.yc.phidichvu" > 
			</md-input-container>
		
			<span>Nhận xét</span> 
			<md-input-container>
				<textarea type="text" ng-model="vm.yc.nhanxet" ></textarea> 
			</md-input-container> 
	</div>
</div>
<span flex></span>
<div layout="row">
	<span flex></span>
	<md-button class="md-raised" ng-click='vm.capnhatyc()' ng-if="!vm.edit">Save</md-button>
	<md-button class="md-raised" ng-if="!vm.edit">Cancel</md-button>
</div>