<div class="md-toolbar-tools padding-15">
	<span>Detail View</span>
	<span flex></span>
	<md-button class="md-fab md-primary md-hue-2" aria-label="Edit" ng-click="vm.edit=false" ng-if="vm.edit">
	<md-icon md-svg-icon="images/pencil-edit.svg"></md-icon> </md-button>
	<!--<md-button class="md-fab md-primary md-hue-2" aria-label="Edit" ng-click="">
	<md-icon md-svg-icon="images/calendar.svg"></md-icon> </md-button>-->
	<md-button class="md-fab md-primary md-hue-2" aria-label="New" ng-click="vm.modelNew()">
	<md-icon md-svg-icon="images/add.svg"></md-icon> </md-button>
	<md-button class="md-fab md-primary md-hue-2" aria-label="Delete" ng-click="vm.showConfirm($event, vm.nv.cmnd)">
	<md-icon md-svg-icon="images/delete.svg"></md-icon> </md-button>
</div>
<div layout-align="center center" layout = "row">
	<span class="error">{{vm.message}}</span>
</div>
<br>
<div layout="row">
	<div flex="45" class="padding-15" layout="column">
			<span>Chứng minh nhân dân</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.cmnd" ng-disabled ="vm.edit"> 
			</md-input-container> 
		
			<span>Họ tên</span>
			<md-input-container>
				<input type="text" ng-model="vm.nv.hoten" ng-disabled ="vm.edit"> 
			</md-input-container> 
			
			<span>Ngày sinh</span> 
			<md-input-container>
				<input mdc-datetime-picker="" time="false" date="true" type="text" 
				format="DD/MM/YYYY" ng-model="vm.nv.ngaysinh" ng-disabled ="vm.edit">
			</md-input-container>
					
			<span>Giới tính</span> 
			<md-input-container>
				<md-select ng-model="vm.nv.gioitinh" ng-disabled ="vm.edit">
          			<md-option value="Nam">Nam</md-option>
          			<md-option value="Nữ">Nữ</md-option>
        		</md-select>
			</md-input-container>
			<br>
		
			<span>Quê quán</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.quequan" ng-disabled ="vm.edit"> 
			</md-input-container>
		
			<span>Địa chỉ</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.diachihientai" ng-disabled ="vm.edit"> 
			 </md-input-container>
		
			<span>Số điện thoại</span>
			<md-input-container>
				<input type="text" ng-model="vm.nv.sodt" ng-disabled ="vm.edit"> 
			</md-input-container> 
		
			<span>Email</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.email" ng-disabled ="vm.edit"> 
			</md-input-container> 
		
			<span>Trình độ học vấn</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.trinhdohocvan" ng-disabled ="vm.edit"> 
			</md-input-container> 
	</div>
	<div flex="10"></div>
	<div flex="45" class="padding-15" layout="column">
			<span>Khu vực làm việc</span> 
			<md-input-container>
				<md-select ng-model="vm.nv.diachi.tenkhuvuc" ng-disabled ="vm.edit">
					<md-option ng-value="kv" ng-repeat="kv in vm.khuvuc">{{kv}}</md-option>
				</md-select>
			</md-input-container>
			<br>
			
			<span>Quận</span>
			<md-input-container>
				<md-select ng-model="vm.nv.diachi.quan" ng-disabled ="vm.edit">
					<md-option ng-value="q.tenquan" ng-repeat="q in vm.quans | filter: {tenkhuvuc: vm.nv.diachi.tenkhuvuc }">{{q.tenquan}}</md-option>
				</md-select>
			</md-input-container>
			<br><br>
		
			<span>Sở trường</span> 
			<md-input-container>
				<md-select ng-model="vm.nv.sotruong" multiple ng-disabled ="vm.edit">
					<md-optgroup>
						<md-option ng-value="dv.tenDichVu" ng-repeat="dv in vm.dsdv">{{dv.tenDichVu}}</md-option>
					</md-optgroup>
				</md-select>
			</md-input-container> 
			<br>
		
			<span>Mô tả kinh nghiệm</span> 
			<md-input-container>
				<input type="text" ng-model="vm.nv.motakinhnghiem" ng-disabled ="vm.edit"> 
			</md-input-container>
		
			<span>Số năm kinh nghiệm</span> 
			<md-input-container>
				<textarea type="text" ng-model="vm.nv.sonamkinhnghiem" ng-disabled ="vm.edit"></textarea> 
			</md-input-container>
		
			<span>Đánh giá</span> 
			 <md-input-container>
				<input type="text" ng-model="vm.nv.danhgia" ng-disabled ="vm.edit"> 
			 </md-input-container> 
		
			<span>Hình ảnh</span> 
			<md-input-container>
				<!--<input type="file" ng-file-select="onFileSelect($files)"  ng-model = "vm.hinhanh">-->
				<input type="text" ng-model="vm.nv.hinhanh"> 
				<img ng-src="{{vm.nv.hinhanh}}" alt="Cập nhật hình ảnh" height="250px" width="250px">
			</md-input-container>
	</div>
</div>
<span flex></span>
<div layout="row">
	<span flex></span>
	<md-button class="md-raised" ng-click="vm.capnhatnv()" ng-if="!vm.edit">Save</md-button>
	<md-button class="md-raised" ng-if="!vm.edit">Cancel</md-button>
</div>
<!--<br>
<br>
<div class="row">
	
    <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.calendarDate"
          decrement="vm.calendarView">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.calendarDate"
          set-to-today>
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.calendarDate"
          increment="vm.calendarView">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

    <div class="col-md-6 text-center">
      <div class="btn-group">
		<label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
		 
		
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'">Week</label>
        
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
		  
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'">Year</label>
      </div>
    </div>

  </div>

  <br>

<mwl-calendar
    view="calendarView"
    view-date="calendarDate"
    events="vm.calendarData"
    view-title="calendarTitle"
    on-event-click="vm.modelDetail(calendarEvent.cmnd)">
</mwl-calendar>-->